/* .App {
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
} */

/* .pagination {
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
} */
